{% extends "account/base.html" %}

{% block content %}
  <!-- Dismissable alert from bootstrap For Django Messages framework -->
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert"  style="margin-bottom:0px">
   <strong>{{message}}</strong>
   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
  {% endif %}
  <style>.btnw{
    background-color: #28aa90 

  }
  .btnw:hover{
    background-color: #398677;
  }</style>

  <div class="p-16 pt-16 pb-24 bg-gray-200  bg bg-light rounded-3">
    <div class="container-fluid ">
        <h2 class="ml-4 mt-1 font-extrabold text-4xl ">Choose your role</h2>
        <p class="col-md-8 ml-4  text-xl "><br>Yoy have logged in successfuly through Google. But before moving ahead you need to specify you role. <br> So choose your role and press the submit role button</p>
        <form action="/glogin" method="post" class="ml-4 mt-2 text-2xl">{% csrf_token %}
          <label for="cars" class="text-blue-800">Choose a role:</label><br>
          <select name="role" id="role" class="mt-1 outline rounded-sm ">
            <option value="Customer">Customer</option>
            <option value="Photographer">Photographer</option>
          </select>
          <button 
           class=" btnw hover:bg-green-500 ml-3 mt-3 font-semibold  text-white py-2  rounded-md px-6" type="submit">Submit </button>
        </form>
    </div>
  </div>

{% endblock %}